@using AdWorksCore.Web.Models
@model AdWorksCore.Web.Views.Employee.EmployeeViewModel

@{
    ViewData["Title"] = "Create New Person";
}
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="well">
            <h4>Person</h4>
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="LoginId" class="control-label"></label>
                    <input asp-for="LoginId" class="form-control" />
                    <span asp-validation-for="LoginId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Suffix" class="control-label"></label>
                    <input asp-for="Suffix" class="form-control" />
                    <span asp-validation-for="Suffix" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle" class="control-label"></label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HireDate" class="control-label"></label>
                    <input asp-for="HireDate" class="form-control" />
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaritalStatus" class="control-label"></label>
                    <input asp-for="MaritalStatus" class="form-control" />
                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NationalIdNumber" class="control-label"></label>
                    <input asp-for="NationalIdNumber" class="form-control" />
                    <span asp-validation-for="NationalIdNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrganizationLevel" class="control-label"></label>
                    <input asp-for="OrganizationLevel" class="form-control" />
                    <span asp-validation-for="OrganizationLevel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SalariedFlag" class="control-label"></label>
                    <input asp-for="SalariedFlag" class="form-control" />
                    <span asp-validation-for="SalariedFlag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentFlag" class="control-label"></label>
                    <input asp-for="CurrentFlag" class="form-control" />
                    <span asp-validation-for="CurrentFlag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmployeeModifiedDate" class="control-label"></label>
                    <input asp-for="EmployeeModifiedDate" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <a asp-action="Index" class="btn btn-link">Back to List</a>
            </form>
        </div>
    </div>
</div>

@section validationScripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}
